.App {
  text-align: center;
}

/*header for game title*/ 
.App-header {
  background-color: #a0c4ff;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*game is where board is displayed*/ 
.Game {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/*buttons used to start game*/
button {
    background-color: #a0c4ff;
    border: 1px solid #a0c4ff;
    border-radius: 3px;
    display: inline-block;
    color: #FFF;
    font-size: 12pt;
    padding: 7px 28px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.5s;
    max-width: 160px;
    min-width: 160px;
}

/*when hovering over button the colour changes*/
button:hover {
    background-color: #bdd6ff;
}

/*board and columns used for gameplay*/
.Board {
  display: flex;
}

.Column {
}

/*space for where player tokens can go*/ 
.Space {
  padding: 8px;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid #a0c4ff;
}

/*player token, animates for when move is maked*/
.Space div {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  border-radius: 15px;
  top: -400px;
  transition: transform 0.5s;
}

/*player one is red*/
.Red {
  background-color: #ffadad;
  transform: translateY(400px);
}

/*player two is yellow*/
.Yellow {
  background-color: #f6f8aa;
  transform: translateY(400px);
}

/*message for when someone wins the game is usually blank*/ 
.winnerMessage {
  margin: 20px;
  font-size: 0pt;
  font: 12pt;
  opacity: 0;
}

/*when winner happens the message appears*/ 
.appear {
  opacity: 1;
  font-size: 20pt;
}
